@media screen and (max-width: 1800px) {
    .content__bg {
        right: -5%;
    }
    
}
@media screen and (max-width: 1700px) {
    .content__bg {
        z-index: 1;
        top: -10%;
        right: -30%;
    }
    .gm-1 img, .gm-2 img, .gm-3 img, .gm-4 img {
        width: 70%;
        height: 70%;
    }
    .bg-2 img {
        margin-left: -30px;
        margin-top: 65px;
        width: 50%;
        height: 50%;
        
    }
    .bg-3 img {
        margin-left: -50px;
        margin-top: 50px;
        z-index: 2;
        width: 70%;
        height: 70%;
    }
    .gm-1 {
        margin-top: 0;
        margin-left: -430px;
        z-index: 5;
    }
    .gm-2 {
        margin-top: 80px;
        margin-left: -400px;
        z-index: 4;
    }
    .gm-3 {
        margin-top: 20px;
        margin-left: -370px;
        z-index: 3;
    }
    .gm-4 {
        margin-left: -450px;
        margin-top: 220px;
    }
}
    

/* Landscape tablets and medium desktops */
@media screen and  (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 90%;
    }
    .content__bg {
        background: none;
    }
    .header__item{
        z-index: 10;
    }
    .header__menu a {
        margin-left: 10px;
        z-index: 10;
    }
    .internet__item {
        width: 290px;
    }
    .courses__item {
        width: calc(100%/2 - 15px);
    }
    .slider__container{
        width: 90%;
    }
    .slick-slide {
        width: calc(100%/3 - 10px);
    }
    .slick-next,
    .slick-prev {
        top: 25%;
    }
    .contacts__main{
        justify-content: center;
    }
    .write {
        width: 400px;
    }
    .contacts__wrapper{
        width: 400px;
        margin-left: 30px;
    }   
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
    .container {
        width: 90%;
    }
    .header {
        height: 100%;
    }
    .logo-main {
        width: 80px;
    }
    .header__menu a {
        font-size: 13px;
    }
   .menu__box {
       display: block;
   }
   .menu__btn{
       display: block;
   }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
    display: block;
    }

    .header__main {
        display: flex;
        align-items: center;
    }
    
    .header__button {
        font-size: 13px;
        margin-right: 50px;
        z-index: 9;
    }

    /* Геометрия */
    .content__bg {
        width: calc(100% / 12 * 4 - 80px);
        top: -10%;
    }
    .gm-1 img,
    .gm-2 img,
    .gm-3 img,
    .gm-4 img {
        width: 30%;
        height: 30%;
    }

    .bg-2 img {
        width: 40%;
        height: 40%;
    }

    .bg-3 img {
        margin-left: -50px;
        margin-top: 70px;
        width: 40%;
        height: 40%;
    }

    .gm-1 {
        margin-top: 80px;
        margin-left: -350px;
        z-index: 5;
    }

    .gm-2 {
        margin-top: 140px;
        margin-left: -350px;
        z-index: 4;
    }

    .gm-3 {
        margin-top: 100px;
        margin-left: -400px;
        z-index: 3;
    }

    .gm-4 {
        margin-left: -390px;
        margin-top: 220px;
    }

    /* Гамбургер */

    .hamburger-menu {
        z-index: 10;
    }

    /* скрываем чекбокс */
    #menu__toggle {
        opacity: 0;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: absolute;
        top: 35px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #6541b5;
    }
    .menu__btn-wh>span,
    .menu__btn-wh>span::before,
    .menu__btn-wh>span::after {
        background-color: #fff;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    .menu__box-wh {
        background-color: #ECEFF1;
    }
    .menu__box-wh {
        background-color: #6541b5;
    }
    /* элементы меню */
    .header__menu li {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-weight: 500;
        text-decoration: none;
    }
    .header__menu a {
        margin-left: 15px;
        padding: 15px;
        color: #6541b5;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            padding: 0;
            border-radius: 0;
            border: none;
        }
    }
    .header__menu a {
        color: #6541b5;
    }
    .menu__item_inblog a{
        color: #fff;
    }

    .header__menu li:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        transition-duration: .25s;
    }

    .menu__box {
        transition-duration: .25s;
    }

    .header__menu li {
        transition-duration: .25s;
    }
   .internet__item{
       width: 230px;
   }
   h1 {
       font-size: 30px;
   }
   h2 {
       font-size: 25px;
   }
   h3 {
       font-size: 20px;
   }
   .free__img {
       width: 50%;
   }
  
   .courses__title-desc {
       font-size: 20px;
   }

    .slider__container {
        width: 90%;
    }

    .slick-slide {
        width: calc(100%/3 - 10px);
    }
    .slick-next,
    .slick-prev {
        top: 25%;
    }
    .page__descriptor {
        width: 90%;
    }
    .courses-rtb__wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .courses-rtb__item {
        width: 80%;
        min-width: 250px;
        text-align: center;
        margin-bottom: 60px;
    }
    .contacts__main {
        flex-direction: column;
        align-items: center;
    }
    .write {
        width: 95%;
    }
    .write__descriptor {
        width: 95%;
    }
    .contacts__wrapper{
        margin-bottom: 60px;
    }
    .blog-page__sidbar {
        display: none;
    }
    .blog-page{
        display: flex;
        justify-content: center;
        width: 95%;
    }
    .blog-page__sidbar,
    .blog-page__articles {
        flex-basis: auto;
    }
    .content {
        justify-content: center;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .header {
        height: 100%;
    }
    .content__bg {
        display: none;
    }
    .header__offer {
        font-size: 30px;
        text-align: center;
    }
    .content__left {
        width: 95%;
        margin-top: 60px;
        padding-bottom: 20px;
        text-align: center;
    }
    .rtb {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .rtb__item{
        width: 200px;
        text-align: center;
        justify-content: center;
    }
    .reasons__wrapper{
        display: flex;
        justify-content: center;
    }
    .internet__item {
        width: 90%;
        padding-bottom: 15px;
        &:last-child {
            padding-bottom: 60px;
        }
    }
    .free__courses_wrapper {
        justify-content: center;
    }
    .free__courses_item:last-child {
        margin-top: 30px;
    }
    .courses__item:nth-child(2) {
        margin-top: 30px;
        margin-left: 0;
    }
    .footer__box {
       flex-direction: column;
    }
    .footer__title {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .footer__btn { 
        left: 53%;
        top: 0%;
        margin-top: 8px;

        &:hover {
            width: 38px;
            height: 38px;
            margin-right: 28px;
            margin-top: 6px;
            font-size: 22px;
            transition: 0.5s;
        }
    }
    .post__content {
        display: none;
    }
    .post {
        flex-direction: column;
    }
    .post__img {
        width: 100%;
        border-radius: 10px;
        flex-basis: auto;
        z-index: 3;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .post__wrapper {
        z-index: 2;
        flex-basis: auto;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .header__button {
        font-size: 13px;
        margin-right: 50px;
        z-index: 9;
    }
    .header__button {
        font-size: 13px;
        margin-right: 35px;
        padding: 15px 15px;
        border-radius: 27px;
        margin-left: 10px;
    }
    .post__img {

    }
    
}

/* Iphone 5 */
@media (max-width: 320px) {

} 