@@include("../../blocks/modules/header/header-3.html")

                
    <section class="content container ">
        <article class="content__wrapper blog-page__post">
            <p class="post-meta ">
                <time class="date" datetime="2019-09-14T11:24">14.09.2019</time>
                /
                <span class="categories">
                    <a href="#">Денис Дойников</a>
                </span>
            </p>
            <p class="content__post ">
                Профессия дизайнера шире, чем нам кажется на первый взгляд. Дизайнер – это человек, который соединяет в себе техническое
                и творческое начала. Он создаёт и погружает нас в фантастический мир ярких красок, образов и технологий.
            </p>
            <p class="content__post">
                Технологии развиваются стремительно, и мир дизайна не остался в стороне. Каждый месяц появляются новые программы и
                технологические возможности, которые требуют расширения навыков дизайнеров.
            </p>
            <p class="content__post">
                Практически невозможно, да и нецелесообразно, быть дизайнером-универсалом. Даже если вам удастся найти курсы, где
                обещают научить всему и сразу, то в любом случае для своей дальнейшей профессиональной деятельности вы выберете одну,
                максимум две специализации.
            </p>
            <p class="content__post">
                Существует не меньше 10 направлений дизайна. Давайте рассмотрим самые популярные из них.
            </p>
            <h3 class="content__title">
                ВЕБ-ДИЗАЙНЕР
            </h3>
            <p class="content__post">
                Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на странице
                будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
                взаимодействовать.

            </p>
            <p class="content__post">
                Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
                странице
                будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
                взаимодействовать.
            
            </p>
            <p class="content__post">
                Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
                странице
                будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
                взаимодействовать.
            
            </p>
            <p class="content__post">
                Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
                странице
                будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
                взаимодействовать.
            
            </p>
            <p class="content__post">
                Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
                странице
                будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
                взаимодействовать.
            
            </p>
            <p class="content__post">
                Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
                странице
                будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
                взаимодействовать.
            
            </p>
            <p class="content__post">
                Профессия дизайнера шире, чем нам кажется на первый взгляд. Дизайнер – это человек, который соединяет в себе
                техническое
                и творческое начала. Он создаёт и погружает нас в фантастический мир ярких красок, образов и технологий.
            </p>
            <p class="content__post">
                Технологии развиваются стремительно, и мир дизайна не остался в стороне. Каждый месяц появляются новые программы и
                технологические возможности, которые требуют расширения навыков дизайнеров.
            </p>
            <p class="content__post">
                Практически невозможно, да и нецелесообразно, быть дизайнером-универсалом. Даже если вам удастся найти курсы, где
                обещают научить всему и сразу, то в любом случае для своей дальнейшей профессиональной деятельности вы выберете
                одну,
                максимум две специализации.
            </p>
        </article>
        <!-- Sidebar Start-->
        <div id="secondary" class="blog-page__articles blog-page__sidbar">
            <aside id="sidebar" class="sidebar">
                <div class="widget post__main">
                    <div class="post__main_img">
                        <h4 class="post__main_title">
                            Главный пост
                        </h4>
                        <p class="post__main_descriptor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        </p>
                    </div>
                </div>
                <div class="widget post__important">
                    <h4 class="post__important_title">
                        Важные посты
                    </h4>
                    <div class="post__important_wrapper">
                        <img src="/img/courses-img1.png" alt="" class="post__important_img">
                        <div class="post__important_content">
                            <h5 class="post__important_title">
                                Заголовок 1
                            </h5>
                            <p class="post__important_descriptor">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="post__important_wrapper">
                        <img src="/img/courses-img1.png" alt="" class="post__important_img">
                        <div class="post__important_content">
                            <h5 class="post__important_title">
                                Заголовок 1
                            </h5>
                            <p class="post__important_descriptor">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="post__important_wrapper">
                        <img src="/img/courses-img1.png" alt="" class="post__important_img">
                        <div class="post__important_content">
                            <h5 class="post__important_title">
                                Заголовок 1
                            </h5>
                            <p class="post__important_descriptor">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="widget tags">
                    <h4 class="tags__title">
                        #Теги
                    </h4>
                    <div class="tags__wrapper">
                        <a href="#" class="tags__link">
                            #маркетинг
                        </a>
                        <a href="#" class="tags__link">
                            #Трейд
                        </a>
                        <a href="#" class="tags__link">
                            #Трейд маркетинг
                        </a>
                    </div>
                        

                </div>
            </aside>
        </div>
    </section>
    
    @@include("../../blocks/modules/footer/footer.html")
        