@@include("../../blocks/modules/header/header-2.html")


        <h1 class="page__title">Блог Plan Done!</h1>
        <p class="page__descriptor">
            Здесь вы найдете полезные материалы для практики в маркетинге, интересные статьи, новости и планы на будущее
        </p>
    </header>
    <section class="blog-page container">
        <!-- Primary Start-->
        <div id="primary" class="blog-page__articles blog-page__post">
            <a href="blog-open.html" class="post__link">
                <article class="post">
                    <img src="img/courses-img1.png" alt="" class="post__img">
                    <div class="post__wrapper">
                        <h4 class="post__title">
                            Заголовок №1
                        </h4>
                        <p class="post__meta">
                            6 августа 2019
                        </p>
                        <p class="post__content">
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая
                            одна
                            большого
                            знаках щеке страну они единственное рекламных ведущими там родного над, точках свой рыбного которое
                            образ
                            маленькая,
                            предупреждал свое возвращайся буквоград по всей пунктуация жизни последний журчит Читать далее
                        </p>
                    </div>
                </article>
            </a>
            <a href="blog-open.html" class="post__link">
                <article class="post">
                    <img src="img/courses-img1.png" alt="" class="post__img">
                    <div class="post__wrapper">
                        <h4 class="post__title">
                            Заголовок №1
                        </h4>
                        <p class="post__meta">
                            6 августа 2019
                        </p>
                        <p class="post__content">
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая
                            одна
                            большого
                            знаках щеке страну они единственное рекламных ведущими там родного над, точках свой рыбного которое
                            образ
                            маленькая,
                            предупреждал свое возвращайся буквоград по всей пунктуация жизни последний журчит Читать далее
                        </p>
                    </div>
                </article>
            </a>
            <a href="blog-open.html" class="post__link">
                <article class="post">
                    <img src="img/courses-img1.png" alt="" class="post__img">
                    <div class="post__wrapper">
                        <h4 class="post__title">
                            Заголовок №1
                        </h4>
                        <p class="post__meta">
                            6 августа 2019
                        </p>
                        <p class="post__content">
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая
                            одна
                            большого
                            знаках щеке страну они единственное рекламных ведущими там родного над, точках свой рыбного которое
                            образ
                            маленькая,
                            предупреждал свое возвращайся буквоград по всей пунктуация жизни последний журчит Читать далее
                        </p>
                    </div>
                </article>
            </a>
            <a href="blog-open.html" class="post__link">
                <article class="post">
                    <img src="img/courses-img1.png" alt="" class="post__img">
                    <div class="post__wrapper">
                        <h4 class="post__title">
                            Заголовок №1
                        </h4>
                        <p class="post__meta">
                            6 августа 2019
                        </p>
                        <p class="post__content">
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая
                            одна
                            большого
                            знаках щеке страну они единственное рекламных ведущими там родного над, точках свой рыбного которое
                            образ
                            маленькая,
                            предупреждал свое возвращайся буквоград по всей пунктуация жизни последний журчит Читать далее
                        </p>
                    </div>
                </article>
            </a>
            <a href="blog-open.html" class="post__link">
                <article class="post">
                    <img src="img/courses-img1.png" alt="" class="post__img">
                    <div class="post__wrapper">
                        <h4 class="post__title">
                            Заголовок №1
                        </h4>
                        <p class="post__meta">
                            6 августа 2019
                        </p>
                        <p class="post__content">
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая
                            одна
                            большого
                            знаках щеке страну они единственное рекламных ведущими там родного над, точках свой рыбного которое
                            образ
                            маленькая,
                            предупреждал свое возвращайся буквоград по всей пунктуация жизни последний журчит Читать далее
                        </p>
                    </div>
                </article>
            </a>
            <a href="blog-open.html" class="post__link">
                <article class="post">
                    <img src="img/courses-img1.png" alt="" class="post__img">
                    <div class="post__wrapper">
                        <h4 class="post__title">
                            Заголовок №1
                        </h4>
                        <p class="post__meta">
                            6 августа 2019
                        </p>
                        <p class="post__content">
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая
                            одна
                            большого
                            знаках щеке страну они единственное рекламных ведущими там родного над, точках свой рыбного которое
                            образ
                            маленькая,
                            предупреждал свое возвращайся буквоград по всей пунктуация жизни последний журчит Читать далее
                        </p>
                    </div>
                </article>
            </a>
            <!-- Pagination -->
            <div class="pagination">
                <ul class="pagination__wrapper">
                    <li class="pagination__item">
                        <a href="#" class="prev">‹</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="page__number">1</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="page__number">2</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="page__number">3</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="page__number">4</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="next">›</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Primary Start-->
        <!-- Sidebar Start-->
        <div id="secondary" class="blog-page__articles blog-page__sidbar">
            <aside id="sidebar" class="sidebar">
                <div class="widget post__main">
                    <div class="post__main_img">
                        <h4 class="post__main_title">
                            Главный пост
                        </h4>
                        <p class="post__main_descriptor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        </p>
                    </div>
                </div>
                <div class="widget post__important">
                    <h4 class="post__important_title">
                        Важные посты
                    </h4>
                    <div class="post__important_wrapper">
                        <img src="/img/courses-img1.png" alt="" class="post__important_img">
                        <div class="post__important_content">
                            <h5 class="post__important_title">
                                Заголовок 1
                            </h5>
                            <p class="post__important_descriptor">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="post__important_wrapper">
                        <img src="/img/courses-img1.png" alt="" class="post__important_img">
                        <div class="post__important_content">
                            <h5 class="post__important_title">
                                Заголовок 1
                            </h5>
                            <p class="post__important_descriptor">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="post__important_wrapper">
                        <img src="/img/courses-img1.png" alt="" class="post__important_img">
                        <div class="post__important_content">
                            <h5 class="post__important_title">
                                Заголовок 1
                            </h5>
                            <p class="post__important_descriptor">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="widget tags">
                    <h4 class="tags__title">
                        #Теги
                    </h4>
                    <div class="tags__wrapper">
                        <a href="#" class="tags__link">
                            #маркетинг
                        </a>
                        <a href="#" class="tags__link">
                            #Трейд
                        </a>
                        <a href="#" class="tags__link">
                            #Трейд маркетинг
                        </a>
                    </div>
                        

                </div>
            </aside>
        </div>
    </section>
    
    @@include("../../blocks/modules/footer/footer.html")
        