@@include("../../blocks/modules/header/header-4.html")
    <section class="month">
        <div class="container">
            <h2 class="month__title">
                Чего вы избежите за 1,5 месяца обученияzz
            </h2>
            <div class="difficulties__wrapper">
                <div class="difficulties__item">
                    <h4 class="difficulties__title">
                        Ошибки
                    </h4>
                    <div class="difficulties__circle">
                        01 
                    </div>
                    <p class="difficulties__descriprion">
                        Многочисленные ошибки начинающего трейд-маркетолога
                    </p>
                </div>
                <div class="difficulties__item">
                    <h4 class="difficulties__title">
                        Годы работы
                    </h4>
                    <div class="difficulties__circle">
                        02
                    </div>
                    <p class="difficulties__descriprion">
                        Вы потратите годы чтобы проверить созданные вами механики
                    </p>
                </div>
                <div class="difficulties__item">
                    <h4 class="difficulties__title">
                        Бесполезная борьба
                    </h4>
                    <div class="difficulties__circle">
                        03
                    </div>
                    <p class="difficulties__descriprion">
                        Непонимания ценности вашей работы и борьбы с отделом продаж
                    </p>
                </div>
                <div class="difficulties__item">
                    <h4 class="difficulties__title">
                        Разочарование
                    </h4>
                    <div class="difficulties__circle">
                        04
                    </div>
                    <p class="difficulties__descriprion">
                        Некоторые навсегда разочаровываются в маркетинге
                    </p>
                </div>
            </div>
    </section>
    <section class="patterns">
        <div class="patterns__wrapper container">
            <div class="patterns__item patterns__left">
                <img src="/img/course-1/comp.png" alt="" class="patterns__img">
            </div>
            <div class="patterns__item patterns__right">
                <h3 id="patterns__title" class="patterns__title">
                    Мы не предложим вам готовых шаблонов
                </h3>
                <p class="patterns__text">
                    Но вы получите системные, фундаментальные знания в трейд-маркетинге и 
                    сможете настроить собственные шаблоны под ваш стиль и рынок
                </p>
                <p class="patterns__text">
                    Вы сэкономите годы на поиски необходимой информации в сети, 
                    чтобы впоследствии понять, как применить найденные инструменты
                </p>
                <div class="button__item patterns__btn">
                    <a href="#courses" class="button__color_8571ea button__item_link">
                        Хочу начать
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="program">
        <div class="container">
            <h2 class="program__title">
                Программа курса проведет вас с самых азов, до результата
            </h2>
            <div class="my-profit__wrapper">
                <div class="my-profit__item">
                    <h3 class="my-profit__title">
                        5
                    </h3>
                    <p class="my-profit__text">
                        Насыщенных модулей
                    </p>
                </div>
                <div class="my-profit__item">
                    <h3 class="my-profit__title">
                        20
                    </h3>
                    <p class="my-profit__text">
                        Практических занятий
                    </p>
                </div>
                <div class="my-profit__item">
                    <h3 class="my-profit__title">
                        1.5
                    </h3>
                    <p class="my-profit__text">
                        Месяца насыщенного обучения
                    </p>
                </div>
                <div class="my-profit__item">
                    <h3 class="my-profit__title">
                        практик
                    </h3>
                    <p class="my-profit__text">
                        Со стажем более 10-и лет
                    </p>
                </div>
            </div>
            
            <div id="accordion" class="accordion">
                <h4 class="accordion__title">Section 1</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
                <h4 class="accordion__title">Section 1</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
                <h4 class="accordion__title">Section 1</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
                <h4 class="accordion__title">Section 1</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
            </div>
            
    </section>
    
    @@include("../../blocks/modules/footer/footer.html")
        