@@include("../../blocks/modules/header/header-4.html")
<section class="month">
    <div class="container">
        <h2 class="month__title">
            Чего вы избежите за 1,5 месяца обученияzz
        </h2>
        <div class="difficulties__wrapper">
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Ошибки
                </h4>
                <div class="difficulties__circle">
                    01
                </div>
                <p class="difficulties__descriprion">
                    Многочисленные ошибки начинающего трейд-маркетолога
                </p>
            </div>
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Годы работы
                </h4>
                <div class="difficulties__circle">
                    02
                </div>
                <p class="difficulties__descriprion">
                    Вы потратите годы чтобы проверить созданные вами механики
                </p>
            </div>
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Бесполезная борьба
                </h4>
                <div class="difficulties__circle">
                    03
                </div>
                <p class="difficulties__descriprion">
                    Непонимания ценности вашей работы и борьбы с отделом продаж
                </p>
            </div>
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Разочарование
                </h4>
                <div class="difficulties__circle">
                    04
                </div>
                <p class="difficulties__descriprion">
                    Некоторые навсегда разочаровываются в маркетинге
                </p>
            </div>
        </div>
</section>
<section class="patterns">
    <div class="patterns__wrapper container">
        <div class="patterns__item patterns__left">
            <img src="/img/course-1/comp.png" alt="" class="patterns__img">
        </div>
        <div class="patterns__item patterns__right">
            <h3 id="patterns__title" class="patterns__title">
                Мы не предложим вам готовых шаблонов
            </h3>
            <p class="patterns__text">
                Но вы получите системные, фундаментальные знания в трейд-маркетинге и
                сможете настроить собственные шаблоны под ваш стиль и рынок
            </p>
            <p class="patterns__text">
                Вы сэкономите годы на поиски необходимой информации в сети,
                чтобы впоследствии понять, как применить найденные инструменты
            </p>
            <div class="button__item patterns__btn">
                <a href="#courses" class="button__color_8571ea button__item_link">
                    Хочу начать
                </a>
            </div>
        </div>
    </div>
</section>
<section class="program">
    <div class="container">
        <h2 class="program__title">
            Программа курса проведет вас с самых азов, до результата
        </h2>
        <div class="my-profit__wrapper">
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    5
                </h3>
                <p class="my-profit__text">
                    Насыщенных модулей
                </p>
            </div>
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    20
                </h3>
                <p class="my-profit__text">
                    Практических занятий
                </p>
            </div>
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    1.5
                </h3>
                <p class="my-profit__text">
                    Месяца насыщенного обучения
                </p>
            </div>
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    практик
                </h3>
                <p class="my-profit__text">
                    Со стажем более 10-и лет
                </p>
            </div>
        </div>

        <div class="wrap container">
            <div class="program__wrapper" id="tabs-p">
                <ul class="nav-prog">
                    <li class='program__item'><a class="prog" href="#tabs-p-1">Введение</a></li>
                    <li class='program__item'><a class="prog" href="#tabs-p-2">Модуль №2</a></li>
                    <li class='program__item'><a class="prog" href="#tabs-p-3">Модуль №3</a></li>
                    <li class='program__item'><a class="prog" href="#tabs-p-4">Модуль №4</a></li>
                </ul>
                <div class="program__text" id="tabs-p-1">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за 30-и
                        летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>
                    </ul>
                </div>
                <div class="program__text" id="tabs-p-2">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        Изучим роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за
                        30-и летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                </div>
                <div class="program__text" id="tabs-p-3">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        Изучим роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за
                        30-и летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                </div>
                <div class="program__text" id="tabs-p-4">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        Изучим роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за
                        30-и летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- <div id="accordion" class="accordion">
                <h4 class="accordion__title">Введение</h4>
                <div>
                    <p class="accordion__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex voluptates enim iusto, deleniti quia culpa tenetur aliquam possimus nihil quo, assumenda ducimus natus dolorem commodi vitae! Ratione quibusdam provident soluta, harum incidunt, et beatae consequatur quasi illo hic delectus. Voluptate culpa voluptatem vero obcaecati ipsam assumenda adipisci nobis eaque ratione vel necessitatibus eveniet eum minus aperiam voluptatibus veniam sequi officia, nulla explicabo. Nemo qui iusto recusandae similique saepe eveniet ducimus iure libero quo dolores cumque, ad rem in inventore omnis, labore error sit soluta delectus! Atque quasi voluptate soluta maxime quae ratione velit animi accusantium, obcaecati unde nostrum, voluptatum numquam!</p>
                </div>
                <h4 class="accordion__title">Модуль №1</h4>
                <div>
                    <p class="accordion__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quo praesentium mollitia voluptas tempora veniam minima perferendis quasi nemo, nobis vero aliquam voluptates neque! Harum est dolores excepturi, debitis suscipit culpa quos temporibus amet, natus ipsam corporis! Sunt facere blanditiis labore possimus deleniti at, laborum eveniet quod commodi impedit adipisci voluptas animi dolore ducimus non reiciendis consectetur repellat assumenda, expedita aut maxime omnis inventore! Laudantium quo aut ipsum nihil quisquam porro, illum, excepturi, in aperiam totam dolores doloribus ipsam itaque!</p>
                </div>
                <h4 class="accordion__title">Модуль №2</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
                <h4 class="accordion__title">Модуль №3</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
                <h4 class="accordion__title">Модуль №4</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
            </div> -->

</section>
<section class="who">
    <h2 class="who__title">
        Кому подойдет этот курс?
    </h2>
    <div class="who__wrapper container">
        <div id="tabs">
            <ul class="tab__wrapper">
                <li class='tab__item'><a class="tab" href="#tabs-1">Трейд-Маркетологам</a></li>
                <li class='tab__item'><a class="tab" href="#tabs-2">Интернет-маркетологам</a></li>
                <li class='tab__item'><a class="tab" href="#tabs-3">Владельцам бизнеса и руководителям</a></li>
                <li class='tab__item'><a class="tab" href="#tabs-4">Специалистам смежных профессий</a></li>
            </ul>
            <div class="tab__text" id="tabs-1">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non
                    ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus
                    hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                    lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
            <div class="tab__text" id="tabs-2">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non
                    ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus
                    hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                    lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
            <div class="tab__text" id="tabs-3">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non
                    ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus
                    hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                    lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
            <div class="tab__text" id="tabs-4">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="need" class='need'>
    <div class="container">
        <h2 class="need__title">
            Будет ли востребован Трейд-маркетинг
            в эпоху интернета?
        </h2>
        <p class="need__desc">
            Чтобы ответить на этот вопрос, давайте разберемся, за что отвечает Трейд-макретинг и на что он может влиять.
            После этого вам будет легче ответить на этот вопрос
        </p>
        <div class="need__wrapper">
            <div class="need__item">
                <div class="need__num">
                    01
                </div>
                <div class="need__text">
                        Продвижение товаров в офлайне. Вы покупаете товар со скидкой? Вы можете найти товар в любом магазине вашего города? Этим управляет Трейд-маркетинг
                </div>
            </div>
            <div class="need__item">
                <div class="need__num">
                    02
                </div>
                <div class="need__text">
                    В ассортименте вашей компании есть товар, который плохо продается? Трейд-маркетолог знает что сделать с этим товаром                
                </div>
            </div>
            <div class="need__item">
                <div class="need__num">
                    03
                </div>
                <div class="need__text">
                    Вы замечали на полках магазинов различные элементы декора? Листовки, рекламные материалы. Вы знали, что стопперы в среднем увеличивают касание с потребителем на 10%?               
                </div>
            </div>
            <div class="need__item">
                <div class="need__num">
                    04
                </div>
                <div class="need__text">
                    Вы слышали про коктейль виски с колой? Или водка с RedBull? Разработка этих коктейлей - часть Трейд-маркетингового продвижения. Любой может приготовить их дома, а бар - всего-лишь место продвижения                
                </div>
            </div>
        </div>
        <h2 class="need__sub-title">
            Будет ли востребован Трейд-маркетинг
            в эпоху интернета?
        </h2>
    </div>
</section>
<section class="success container">
    <h2 class="success__title">
        Мы вывели критерии
    </h2>
    <p class="success__desc">
        для достижения максимального успеха
    </p>
    <div class="success__wrapper">
        <div class="success__item">
            <img src="/img/course-1/basket.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Рынок
            </h5>
            <p class="success__item-text">
                Курс построен для рынков FMCG товаров и 
                для товаров с "коротким" циклом принятия 
                решений. Не уверены, что вам подходит курс, 
                <a href="@mailto:denis.doynikov@gmail.com" class="mail">напишите нам!</a>
            </p>
        </div>
        <h5 class="success__item">
            <img src="/img/course-1/clock-scs.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Наличие времени
            </h5>
            <p class="success__item-text">
                    Вам потребуется не менее 8-ми часов в неделю на теорию и практику
            </p>
        </div>
        <div class="success__item">
            <img src="/img/course-1/chat.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Обратная связь
            </h5>
            <p class="success__item-text">
                    Трейд-маркетинг откроется тем, кто активно задает вопросы преподователю
            </p>
        </div>
        <div class="success__item">
            <img src="/img/course-1/work.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Текущая работа
            </h5>
            <p class="success__item-text">
                    Если вы уже трейд-маркетолог, ваши 
                    задания будут приближены к существующей 
                    ситуации. В остальных случаях, вы 
                    разберете типовые кейсы 
            </p>
        </div>
    </div>
</section>

@@include("../../blocks/modules/footer/footer.html")