@@include("../../blocks/modules/header/header-4.html")
<section class="month">
    <div class="container">
        <h2 class="month__title">
            Чего вы избежите за 1,5 месяца обученияzz
        </h2>
        <div class="difficulties__wrapper">
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Ошибки
                </h4>
                <div class="difficulties__circle">
                    01
                </div>
                <p class="difficulties__descriprion">
                    Многочисленные ошибки начинающего трейд-маркетолога
                </p>
            </div>
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Годы работы
                </h4>
                <div class="difficulties__circle">
                    02
                </div>
                <p class="difficulties__descriprion">
                    Вы потратите годы чтобы проверить созданные вами механики
                </p>
            </div>
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Бесполезная борьба
                </h4>
                <div class="difficulties__circle">
                    03
                </div>
                <p class="difficulties__descriprion">
                    Непонимания ценности вашей работы и борьбы с отделом продаж
                </p>
            </div>
            <div class="difficulties__item">
                <h4 class="difficulties__title">
                    Разочарование
                </h4>
                <div class="difficulties__circle">
                    04
                </div>
                <p class="difficulties__descriprion">
                    Некоторые навсегда разочаровываются в маркетинге
                </p>
            </div>
        </div>
</section>
<section class="patterns">
    <div class="patterns__wrapper container">
        <div class="patterns__item patterns__left">
            <img src="/img/course-1/comp.png" alt="" class="patterns__img">
        </div>
        <div class="patterns__item patterns__right">
            <h3 id="patterns__title" class="patterns__title">
                Мы не предложим вам готовых шаблонов
            </h3>
            <p class="patterns__text">
                Но вы получите системные, фундаментальные знания в трейд-маркетинге и
                сможете настроить собственные шаблоны под ваш стиль и рынок
            </p>
            <p class="patterns__text">
                Вы сэкономите годы на поиски необходимой информации в сети,
                чтобы впоследствии понять, как применить найденные инструменты
            </p>
            <div class="button__item patterns__btn">
                <a href="#courses" class="button__color_8571ea button__item_link">
                    Хочу начать
                </a>
            </div>
        </div>
    </div>
</section>
<section class="program">
    <div class="container">
        <h2 class="program__title">
            Программа курса проведет вас с самых азов, до результата
        </h2>
        <div class="my-profit__wrapper">
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    5
                </h3>
                <p class="my-profit__text">
                    Насыщенных модулей
                </p>
            </div>
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    20
                </h3>
                <p class="my-profit__text">
                    Практических занятий
                </p>
            </div>
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    1.5
                </h3>
                <p class="my-profit__text">
                    Месяца насыщенного обучения
                </p>
            </div>
            <div class="my-profit__item">
                <h3 class="my-profit__title">
                    практик
                </h3>
                <p class="my-profit__text">
                    Со стажем более 10-и лет
                </p>
            </div>
        </div>

        <div class="wrap container">
            <div class="program__wrapper" id="tabs-p">
                <ul class="nav-prog">
                    <li class='program__item'><a class="prog" href="#tabs-p-1">Введение</a></li>
                    <li class='program__item'><a class="prog" href="#tabs-p-2">Модуль №2</a></li>
                    <li class='program__item'><a class="prog" href="#tabs-p-3">Модуль №3</a></li>
                    <li class='program__item'><a class="prog" href="#tabs-p-4">Модуль №4</a></li>
                </ul>
                <div class="program__text" id="tabs-p-1">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за 30-и
                        летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>
                    </ul>
                </div>
                <div class="program__text" id="tabs-p-2">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        Изучим роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за
                        30-и летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                </div>
                <div class="program__text" id="tabs-p-3">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        Изучим роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за
                        30-и летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                </div>
                <div class="program__text" id="tabs-p-4">
                    <h4 class="prog__title">
                        Введение
                    </h4>
                    <p class="prog__desc">
                        Изучим роль трейд-маркетинга в современном бизнесе. Узнаем как развивался трейд-маркетинг за
                        30-и летнюю историю в России.
                    </p>

                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                    <div class="prog__time">
                        <img src="/img/icons/clock.png" alt="" class="prog__clock">
                        <p class="prog__theory">
                            2.5 часа теории
                        </p>
                        <p class="prog__practice">
                            3 часа практики
                        </p>
                    </div>
                    <h4 class="prog__title prod__title-2">
                        Чему вы научитесь?
                    </h4>
                    <ul class="prog__nav">
                        <li class="prog__item">
                            История трейд-маркетинга в России
                        </li>
                        <li class="prog__item">
                            Цели трейд-маркетинга и место в компании
                        </li>
                        <li class="prog__item">
                            Зона ответственности трейд-маркетолога
                        </li>
                        <li class="prog__item">
                            Инструменты трейд-маркетинга. На что может влиять
                        </li>
                        <li class="prog__item">
                            Цепочка Производитель - конечный потребитель
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- <div id="accordion" class="accordion">
                <h4 class="accordion__title">Введение</h4>
                <div>
                    <p class="accordion__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex voluptates enim iusto, deleniti quia culpa tenetur aliquam possimus nihil quo, assumenda ducimus natus dolorem commodi vitae! Ratione quibusdam provident soluta, harum incidunt, et beatae consequatur quasi illo hic delectus. Voluptate culpa voluptatem vero obcaecati ipsam assumenda adipisci nobis eaque ratione vel necessitatibus eveniet eum minus aperiam voluptatibus veniam sequi officia, nulla explicabo. Nemo qui iusto recusandae similique saepe eveniet ducimus iure libero quo dolores cumque, ad rem in inventore omnis, labore error sit soluta delectus! Atque quasi voluptate soluta maxime quae ratione velit animi accusantium, obcaecati unde nostrum, voluptatum numquam!</p>
                </div>
                <h4 class="accordion__title">Модуль №1</h4>
                <div>
                    <p class="accordion__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quo praesentium mollitia voluptas tempora veniam minima perferendis quasi nemo, nobis vero aliquam voluptates neque! Harum est dolores excepturi, debitis suscipit culpa quos temporibus amet, natus ipsam corporis! Sunt facere blanditiis labore possimus deleniti at, laborum eveniet quod commodi impedit adipisci voluptas animi dolore ducimus non reiciendis consectetur repellat assumenda, expedita aut maxime omnis inventore! Laudantium quo aut ipsum nihil quisquam porro, illum, excepturi, in aperiam totam dolores doloribus ipsam itaque!</p>
                </div>
                <h4 class="accordion__title">Модуль №2</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
                <h4 class="accordion__title">Модуль №3</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
                <h4 class="accordion__title">Модуль №4</h4>
                <div>
                    <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                </div>
            </div> -->

</section>
<section class="who">
    <h2 class="who__title">
        Кому подойдет этот курс?
    </h2>
    <div class="who__wrapper container">
        <div id="tabs">
            <ul class="tab__wrapper">
                <li class='tab__item'><a class="tab" href="#tabs-1">Трейд-Маркетологам</a></li>
                <li class='tab__item'><a class="tab" href="#tabs-2">Интернет-маркетологам</a></li>
                <li class='tab__item'><a class="tab" href="#tabs-3">Владельцам бизнеса и руководителям</a></li>
                <li class='tab__item'><a class="tab" href="#tabs-4">Специалистам смежных профессий</a></li>
            </ul>
            <div class="tab__text" id="tabs-1">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non
                    ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus
                    hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                    lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
            <div class="tab__text" id="tabs-2">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non
                    ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus
                    hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                    lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
            <div class="tab__text" id="tabs-3">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non
                    ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus
                    hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                    lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
            <div class="tab__text" id="tabs-4">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel
                    vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula
                    tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                    lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                    velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus
                    eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis
                    commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede.
                    Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit.
                    Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="need" class='need'>
    <div class="container">
        <h2 class="need__title">
            Будет ли востребован Трейд-маркетинг
            в эпоху интернета?
        </h2>
        <p class="need__desc">
            Чтобы ответить на этот вопрос, давайте разберемся, за что отвечает Трейд-макретинг и на что он может влиять.
            После этого вам будет легче ответить на этот вопрос
        </p>
        <div class="need__wrapper">
            <div class="need__item">
                <div class="need__num">
                    01
                </div>
                <div class="need__text">
                    Продвижение товаров в офлайне. Вы покупаете товар со скидкой? Вы можете найти товар в любом магазине
                    вашего города? Этим управляет Трейд-маркетинг
                </div>
            </div>
            <div class="need__item">
                <div class="need__num">
                    02
                </div>
                <div class="need__text">
                    В ассортименте вашей компании есть товар, который плохо продается? Трейд-маркетолог знает что
                    сделать с этим товаром
                </div>
            </div>
            <div class="need__item">
                <div class="need__num">
                    03
                </div>
                <div class="need__text">
                    Вы замечали на полках магазинов различные элементы декора? Листовки, рекламные материалы. Вы знали,
                    что стопперы в среднем увеличивают касание с потребителем на 10%?
                </div>
            </div>
            <div class="need__item">
                <div class="need__num">
                    04
                </div>
                <div class="need__text">
                    Вы слышали про коктейль виски с колой? Или водка с RedBull? Разработка этих коктейлей - часть
                    Трейд-маркетингового продвижения. Любой может приготовить их дома, а бар - всего-лишь место
                    продвижения
                </div>
            </div>
        </div>
        <h2 class="need__sub-title">
            Будет ли востребован Трейд-маркетинг
            в эпоху интернета?
        </h2>
    </div>
</section>
<section class="success container">
    <h2 class="success__title">
        Мы вывели критерии
    </h2>
    <p class="success__desc">
        для достижения максимального успеха
    </p>
    <div class="success__wrapper">
        <div class="success__item">
            <img src="/img/course-1/basket.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Рынок
            </h5>
            <p class="success__item-text">
                Курс построен для рынков FMCG товаров и
                для товаров с "коротким" циклом принятия
                решений. Не уверены, что вам подходит курс,
                <a href="@mailto:denis.doynikov@gmail.com" class="mail">напишите нам!</a>
            </p>
        </div>
        <div class="success__item">
            <img src="/img/course-1/clock-scs.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Наличие времени
            </h5>
            <p class="success__item-text">
                Вам потребуется не менее 8-ми часов в неделю на теорию и практику
            </p>
        </div>
        <div class="success__item">
            <img src="/img/course-1/chat.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Обратная связь
            </h5>
            <p class="success__item-text">
                Трейд-маркетинг откроется тем, кто активно задает вопросы преподователю
            </p>
        </div>
        <div class="success__item">
            <img src="/img/course-1/work.png" alt="" class="success__img">
            <h5 class="success__item-title">
                Текущая работа
            </h5>
            <p class="success__item-text">
                Если вы уже трейд-маркетолог, ваши
                задания будут приближены к существующей
                ситуации. В остальных случаях, вы
                разберете типовые кейсы
            </p>
        </div>
    </div>
    <div class="button__item patterns__btn success__btn">
        <a href="#courses" class="button__color_8571ea button__item_link">
            Я готов стать Трейд-Маркетологом
        </a>
    </div>
</section>
<section class="know container">
    <h2 class="know__title">
        Чему вы конкретно научитесь за эти 1.5 месяца?
    </h2>
    <div class="know__wrapper">
        <div class="know__item">
            <img src="/img/course-1/know/analytics.png" alt="" class="know__img">
            <p class="know__text">
                Анализировать текущую ситуацию,
                ставить цели
            </p>
        </div>
        <div class="know__item">
            <img src="/img/course-1/know/hummer.png" alt="" class="know__img">
            <p class="know__text">
                Знать и понимать законодательные
                ограничения каналов продаж
            </p>
        </div>
        <div class="know__item">
            <img src="/img/course-1/know/big-data.png" alt="" class="know__img">
            <p class="know__text">
                Методам сбора и анализу данных
                в офлайне
            </p>
        </div>
        <div class="know__item">
            <img src="/img/course-1/know/present.png" alt="" class="know__img">
            <p class="know__text">
                Научитесь создавать простые акции
                и сложные программы лояльности
            </p>
        </div>
        <div class="know__item">
            <img src="/img/course-1/know/excel.png" alt="" class="know__img">
            <p class="know__text">
                Делать расчеты в Excel
                и предоставлять результаты
            </p>
        </div>
        <div class="know__item">
            <img src="/img/course-1/know/calc.png" alt="" class="know__img">
            <p class="know__text">
                Расчитывать эффективность акций
                и получать удовлетворение
            </p>
        </div>
    </div>
</section>
<section class="learning">
    <div class="container">
        <h2 class="learning__title">
            Как будет проходить ваше обучение?
        </h2>
        <div class="learning__wrapper">
            <div class="learning__item">
                <h5 class="learning__item_title">
                    Личный кабинет
                </h5>
                <p class="learning__text">
                    Отслеживайте прогресс в обучении, сдвайте домашние
                    задания. Получайте обратную связь от личного
                    наставника
                </p>
                <h5 class="learning__item_title">
                    Поддержка и ответы на вопросы
                </h5>
                <p class="learning__text">
                    Задавайте вопросы в чате личного кабинета или
                    напрямую в мессенджер своему личному наставнику.
                    Мы поможем в любой ситуации
                </p>
                <h5 class="learning__item_title">
                    Опаздываете или пропускаете занятие?
                </h5>
                <p class="learning__text">
                    Запись каждого занятия выкладывается в личном кабинете
                    в течении 1 часа после окончания трансляции.
                    Все записи закрепляются пожизненно
                </p>
            </div>
            <div class="learning__item">
                <img src="/img/courses-img1.png" alt="" class="learning__img">
            </div>
        </div>
    </div>
</section>
<section class="teacher container">
    <div class="teacher__wrapper">
        <div class="teacher__item">
            <div class="video">
                <img src="/img/course-1/me.png" alt="" class="video__img">
            </div>
            <div class="button__item patterns__btn teacher__btn">
                <a href="#courses" class="button__color_8571ea button__item_link">
                    Хочу начать
                </a>
            </div>
        </div>
        <div class="teacher__item">
            <div class="teacher__item_about">
                <img src="/img/course-1/me2.png" alt="" class="avatar">
                <h6 class="teacher__item_name">
                    Денис Дойников
                </h6>
                <p class="teacher__item_desc">
                    Ведущий курса и основатель <strong> Plane Done</strong>
                </p>
                <p class="teacher__item_title">
                    10 лет
                </p>
                <p class="teacher__item_text">
                    В маркетинге
                </p>
                <p class="teacher__item_title">
                    100% практик
                </p>
                <p class="teacher__item_text">
                    в компаниях-производителях
                    и дистрибьюторах
                </p>
                <p class="teacher__item_title">
                    курсы как хобби
                </p>
                <p class="teacher__item_text">
                    У меня появился багаж знаний и опыт,
                    которым я готов с вами поделиться.
                    Мой основной источник дохода - офлайн
                </p>
            </div>
        </div>
    </div>
</section>
<section class="can">
    <h2 class="can__title">
        Что нужно чтобы участвовать?
    </h2>
    <div class="can__wrapper">
        <div class="can__item">
            <img src="/img/course-1/steps.png" alt="" class="can__img">
        </div>
        <div class="can__item">
            <div class="can__item_wrapper">
                <p class="can__item_title">
                    Пользоваться Excel
                </p>
                <p class="can__item_text">
                    Трейд-маркетолог без знания Excel - плохой
                    трейд-маркетолог. Вы должны понимать как работает
                    этот инструмент, уметь писать формулы и строить
                    сводные таблицы. Если вы не уверены в своих силах,
                    пройдите бесплатный курс Excel: Основы
                </p>
                <p class="can__item_title">
                    Наличие свободного времени
                </p>
                <p class="can__item_text">
                    Чем больше вы будете уделять времени на обучение тем лучше. Вам будут доступны записи и материалы,
                    однако необходимо выполнять все домшние задания для достижения результата
                </p>
                <p class="can__item_title">
                    Твердое намерение
                </p>
                <p class="can__item_text">
                    Любой супер-полезный курс не сделает вас профессионалом. Ваше желание и настойчивость позволят
                    достигнуть максимума
                </p>
                <p class="can__item_title">
                    Понимание, что вы получите
                </p>
                <p class="can__item_text">
                    Этот курс не бизнес тренинг. Здесь вы не найдете способов пассивного дохода или начать свой бизнес.
                    Этот курс про специальность. Она востребованная и необходима бизнесу. В конце курса вы будете
                    уверены в своих знаниях Трейд-маркетинга.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="go">
    <div class="go__wrapper">
        <div class="go__item">
            <div class="go__title">
                <h2 class="go__item_title">
                    Трейд-Маркетолог
                </h2>
                <p class="go__item_desc">
                    От нуля до профессионала
                </p>
                <p class="go__time">
                    25 февраля 2020
                </p>
            </div>
            <div class="go__price">
                <p class="go__price_price">
                    Цена сегодня
                </p>
                <p class="go__price_sum">
                    27 000₽
                </p>
                <p class="go__price_discont">
                    Цена без скидки: <span>36 000₽</span>
                </p>
                <p class="go__price_economy">
                    25% или 9 000р.
                </p>
                <p class="go__price_economy-2">
                    Ваша экономия сегодня
                </p>
            </div>
        </div>
        <div class="go__item" style="background: url(../img/course-1/pay.png) no-repeat center center/cover;">
            <img src="/img/course-1/card.png" alt="" class="pay">
            <p class="pay__desc">
                Оплатить участие
            </p>
            <a href="#" class="header__button">Оплатить</a>
            <p class="pay__qst">
                Есть вопросы? <a href="#">Пообщайтесь с нами</a>
            </p>
        </div>
    </div>
</section>
<section class="garanty container">
    <div class="garanty__wrapper">
        <div class="garanty__item">
            <img src="/img/course-1/back.png" alt="" class="garanty__img">
            <p class="garanty__title">
                100% гарантия возврата средств
            </p>
            <p class="garanty__text">
                    Если в первые 14 дней обучения либо до начала обучения 
                    вам что-то не понравилось. Мы возвращаем полную 
                    стоимость курса.
            </p>
        </div>
        <div class="garanty__item">
            <img src="/img/course-1/alert.png" alt="" class="garanty__img">
            <p class="garanty__title">
                Важнейшее предупреждение
            </p>
            <p class="garanty__text">
                    Обучение не работает “само по себе”. 
                    Это не курс “успешного успеха” или 
                    “таблетка” от безнадежья. Вам придется 
                    серьезно потрудиться
            </p>
        </div>
        <div class="garanty__item">
            <img src="/img/course-1/doc.png" alt="" class="garanty__img">
            <p class="garanty__title">
                Как оплатить от юрлица?
            </p>
            <p class="garanty__text">
                    Запишитесь на курс от имени того, кто будет 
                    учиться, а затем выберете способ оплаты 
                    "По счету от юрлица"
            </p>
        </div>
    </div>
</section>
<section class="faq container">
    <h2 class="faq__title">
        Остались вопросы?
    </h2>
    <div id="accordion" class="accordion faq__accordion">
            <h4 class="accordion__title">Вопрос 1</h4>
            <div>
                <p class="accordion__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex voluptates enim iusto, deleniti quia culpa tenetur aliquam possimus nihil quo, assumenda ducimus natus dolorem commodi vitae! Ratione quibusdam provident soluta, harum incidunt, et beatae consequatur quasi illo hic delectus. Voluptate culpa voluptatem vero obcaecati ipsam assumenda adipisci nobis eaque ratione vel necessitatibus eveniet eum minus aperiam voluptatibus veniam sequi officia, nulla explicabo. Nemo qui iusto recusandae similique saepe eveniet ducimus iure libero quo dolores cumque, ad rem in inventore omnis, labore error sit soluta delectus! Atque quasi voluptate soluta maxime quae ratione velit animi accusantium, obcaecati unde nostrum, voluptatum numquam!</p>
            </div>
            <h4 class="accordion__title">Модуль №1</h4>
            <div>
                <p class="accordion__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quo praesentium mollitia voluptas tempora veniam minima perferendis quasi nemo, nobis vero aliquam voluptates neque! Harum est dolores excepturi, debitis suscipit culpa quos temporibus amet, natus ipsam corporis! Sunt facere blanditiis labore possimus deleniti at, laborum eveniet quod commodi impedit adipisci voluptas animi dolore ducimus non reiciendis consectetur repellat assumenda, expedita aut maxime omnis inventore! Laudantium quo aut ipsum nihil quisquam porro, illum, excepturi, in aperiam totam dolores doloribus ipsam itaque!</p>
            </div>
            <h4 class="accordion__title">Модуль №2</h4>
            <div>
                <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
            </div>
            <h4 class="accordion__title">Модуль №3</h4>
            <div>
                <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
            </div>
            <h4 class="accordion__title">Модуль №4</h4>
            <div>
                <p class="accordion__text">Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
            </div>
        </div>
</section>
@@include("../../blocks/modules/footer/footer.html")