@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

/* Спецификация */

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #151221;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    line-height: 1.45em;
    }

    html {
        overflow-x: hidden;
    }
p {
    color: #151221;
}


.container {
    width: 1170px;
    margin: 0 auto !important;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:focus, button, input, button:hover, button:active, button:focus, input:active, input:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}
.header__offer {
    color: #6541b5;
    font-size: 40px;
    text-align: left;
}

h1 {
    font-family: 'Neo Sans Pro', serif;
    color: #151221;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 1em;

}
h2 {
    font-family: 'Neo Sans Pro', serif;
    font-size: 35px;
    font-weight: 700;
    color: #151221;
    text-align: center;
}
h3 {
    font-family: 'Neo Sans Pro',
        serif;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    color: #151221;
}

h4 {
    font-family: 'Neo Sans Pro',
        serif;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: #151221;
}

h5 {
    font-family: 'Neo Sans Pro',
        serif;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    color: #fff;
}


/* Header */
.header{
    height: 100vh;
    min-height: 700px;
    margin: 0;
}
.header__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-main {
    width: 100px;
}
/* Header-color */
.menu{
    padding-top: 30px;
}

.header__menu a {
    margin-left: 15px;
    padding: 15px;
    color: #6541b5;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        padding: 7px 12px;
        border-radius: 25px;
        border: 3px solid #6541b5;
    }
}
.header-2 a {
    color: #687188;
    &:hover {
        border: 3px solid #687188;
    }
}
.header__menu li:first-child {
    margin-left: 0px;
}
.header__button{
    font-weight: 700;
    color: #fff;
    background: #e72963;
    padding: 15px 25px;
    border-radius: 27px;
    margin-left: 10px;
    position: relative;
    z-index: 10;
        &:hover {
            cursor: pointer;
            box-shadow: inset 0 14px 43px rgba(84, 53, 171, .2);
            transition: .7s;
        }
}
#menu__toggle {
    opacity: 0;
}


/* Header-white */
 .inblog {
     background: url(../img/blog/main-blog.jpg) no-repeat center /cover;
     min-height: 300px;
     height: 500px;
     position: relative;
 }
 .inblog__img {
     background: rgba(0, 0, 0, 0.5);
     min-height: 300px;
     height: 500px;
 }

 .menu__item_inblog a {
     color: #fff;
 }

.menu {
    padding-top: 30px;
}
.header__menu {
    display: flex;
}
.menu__item_inblog a {
    margin-left: 15px;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        padding: 7px 13px;
        border: 2px solid #fff;
        border-radius: 25px;
    }
}

.header__menu li:first-child {
    margin-left: 0px;
}



.blog-op__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}
.blog-op__title{
    color: #fff;
    margin-top: 20%;
}

/* Header-white End */

.content__left{
    width: 500px;
    margin-top: 180px;
    padding-bottom: 20px;
}
.button__theme_header{
    margin-top: 46px;
}
.button__color_8571ea{
   background: #8571ea;
}
.button__item_link{
   font-weight: 700;
   padding: 16px 55px 15px 30px;
   border-radius: 25px;
   position: relative;
}
.button__item_link::after{
    content: '›';
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    right: 0%;
    margin-right: 13px;
    width: 34px;
    height: 34px;
}
.button__item_link:hover::after {
  width: 36px;
  height: 36px;
  margin-top: -18px;
  background: rgba(0, 0, 0, .2);
  transition: all 0.6s ease;
}
.button__item_link:hover {
    box-shadow: inset 0 14px 43px rgba(84, 53, 171, .2);
    transition: all 0.6s ease;
}

/* Header Right */

.content__bg {
    background: url(../img/header-bg/bg-h1.png) no-repeat center center;
    width: 785px;
    height: 765px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}
    /*Parallax*/
.geometric__wrapper{
    position: absolute;
    top: 30%;
    left: 53%;
}
#scene{
    width: 500px;
    height: 500px;
}
    .bg-2 {
        margin-left: -380px;
        margin-top: -50px;
        & img {
            width: 613px;
            height: 522px;
        }
    }
    .bg-3 {
        width: 519px;
        margin-left: -350px;
        margin-top: 50px;
        & img {
            width: 519px;
            height: 442px;
        }
    }
    .gm-1 {
        margin-top: -80px;
        margin-left: -430px;
        z-index: 3;
    }
    .gm-2 {
        margin-top: 30px;
        margin-left: -350px;
        z-index: 2;
    }
    .gm-3 {
        margin-top: -50px;
        margin-left: -320px;
        z-index: 1;
    }
    .gm-4 {
        margin-left: -450px;
        margin-top: 150px;
    }
    /* End Parallax*/
.rtb {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}
.rtb__item{
    width: 270px;
}

/* Internet */

.internet {
    background: linear-gradient(to top, #1a254c, #0f183a);
    color: #fff;
    margin-top: 120px;
}
.internet__title{
    color: #fff;
    padding-top: 120px;
    padding-bottom: 60px;
}
.reasons__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text__title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Neo Sans Pro',serif;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}
.internet__item{
    width: 370px;
    text-align: center;
    padding-bottom: 120px;
}
.internet__item_text{
    color: #fff;
}
.internet__item_link{
    color: #fff;
    border-bottom: 2px solid #fff;
    border-bottom-style: dotted;
}
/* Free */
.free__title{
    margin-top: 120px;
    margin-bottom: 60px;
}
.free__courses_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.free__courses_item {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
    3px 27px 54px -34px rgba(0, 0, 0, .47);
    width: calc(100%/2 - 15px);
    min-width: 350px;
}
.free__courses_item:hover{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07)
}
.free__courses_img{ 
    width: calc(100%/3);
    height: 170px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.free__courses_img-1 {
    background: #39825a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
}
.free__courses_img-2 {

    background: #dc6141;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* .free__courses_img-1 {
    background: url(../img/excel.webp) no-repeat center center;
}
.free__courses_img-2 {
    background: url(../img/powerpoint.webp) no-repeat center center;
} */
.free__courses_content{
    display: flex;
    flex-direction: column;
    width: 357px;
}
.free__course_title{
    display: flex;
    justify-content: flex-start;
    margin: 20px 10px 0px 0px;
    padding-left: 5%;
}
.for-free__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
}

.free__course_descriptor {
    color: #151221;
    padding-left: 5%;
    padding-right: 5%;
}
.price {
    margin-left: 10px;
    color: #e72963;
}
/* Courses */
.courses__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.courses__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
        3px 27px 54px -34px rgba(0, 0, 0, .47);
    width: calc(100%/2 - 30px);
    max-width: 470px;
    min-width: 310px;
}
.courses__item:nth-child(2) {
    margin-left: 30px;
}
.courses__item:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07)
}
.courses__title{
    margin-top: 120px;
    margin-bottom: 60px;
}
.courses__img{
    height: 240px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.courses__img-1{
    background: url(../img/courses-img1.webp) no-repeat center center;   
}
.courses__img-2 {
    background: url(../img/courses-img2.webp) no-repeat center center;
}
.courses__content_title{
    text-align: center;
    margin-top: 40px;
    color: #fff;
}
.courses__title-desc{
    font-family: 'Neo Sans Pro',
    serif;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    padding-left: 3%;
    padding-right: 3%;
}
.courses__content{
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.course__descriptor{
    padding-right: 5%;
    padding-left: 5%;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
}

/* blog */
.blog__title{
    margin-top: 120px;
    margin-bottom: 60px;
}
.blog__item{
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
    0px 27px 50px -46px rgba(0, 0, 0, .47);
    &:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07)
    }
    &:after{
        margin: 20px 0px;
        background: #e72963;
        color: #fff;
        font-weight: 700;
        padding: 10px 35px;
        border-radius: 30px;
        width: 50px;
    }
}

.blog__item_title{
    margin-top: 20px;
    margin-bottom: 0;
}
.blog__item_desc{
    padding: 0px 20px;
    text-align: center;
    margin: 10px 0px;
}

.blog__img{
    width: 100%;
    height: 110px;
}
.blog__img_1{
    background: url(../img/courses-img1.webp) no-repeat center center;
}
.blog__button{
    margin: 20px 0px;
    background: #e72963;
    color: #fff;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 30px;
    width: 50px ;
}
.blog__item:hover .blog__button,
.blog__item:hover .blog__button {
    box-shadow: inset 0 14px 43px rgba(0, 0, 0, .2);
    transition: 0.5s;
}


/* Start */

.start{
    margin-top: 120px;
    background: linear-gradient(to right, #9875e3, #7c4eb8);
}

.start__title{
    color: #fff;
    padding-top: 120px;
    padding-bottom: 60px;
}
.button__theme_start{
    text-align: center;
    padding-bottom: 120px;
}
.button__color_ff73b3{
    background: #ff73b3;
}
.slider__container {
    
    width: 1200px;
    margin: 0 auto;
}

.slick-slide {
    width: calc(100%/4 - 10px);
    margin-left: 30px;

    &:first-child {
        margin-left: 10px;
    }
}

.slick-track {
    height: 380px;
}

.slick-list {
    margin-left: 0px;

}

.slick-next {
    font-size: 100px;
    font-weight: 200;
    color: #6541b5;
    position: absolute;
    right: 0%;
    margin-right: -30px;
    top: 50%;
    margin-top: -25px;

    &:hover {
        color: #e72963;
        transition: 0.5s;
    }
}

.slick-prev {
    font-size: 100px;
    font-weight: 200;
    color: #6541b5;
    position: absolute;
    left: 0%;
    margin-left: -35px;
    top: 50%;
    margin-top: -25px;

    &:hover {
        color: #e72963;
        transition: 0.5s;
    }
}

/* Start */

/* Contacts */
.contacts__main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page__title{
    margin-top: 120px;
}
.page__descriptor{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    color: #8b9099;
    line-height: 1.5em;
}
.write {
    width: 100%;
}
.write__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contacts__subtitle{
    text-align: left;
    margin-top: 30px;
        &:first-child{
            margin-top: 0;
        }
}
.write__items img{
    margin: 0 auto;
    padding-left: 10px;
}
.write__descriptor{
    margin-left: 30px;
    width: 360px;
}
.contacts__wrapper {
    width: 100%;
    max-width: 570px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
    3px 27px 54px -34px rgba(0, 0, 0, .47);
}
.contacts__wrapper h4 {
    padding: 30px;
    text-transform: uppercase;
}

.contacts__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__input{
    width: 85%;
    height: 50px;
    padding-left: 5%;
    overflow: hidden;
    border-radius: 10px;
    background: #ebebf5;
    margin-bottom: 15px;
    border: none;
}

.contacts__btn{
    width: 170px;
    height: 50px;
    overflow: hidden;
    border: none;
    background: #8571ea;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border-radius: 25px;
    margin: 15px 0px 30px 0px;
        &:hover{
            box-shadow: inset 0 14px 43px rgba(0, 0, 0, .2);
        }
}

/* Courses */

.courses__page{
    margin-top: 120px;
}
.courses-rtb h2 {
    margin-top: 120px;
    margin-bottom: 60px;
}
.courses-rtb__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.courses-rtb__item{
    width: calc(100%/3 - 15px);
    min-width: 250px;
    text-align: center;
    margin-bottom: 60px;
}
.courses-btn{
    text-align: center;
    margin-bottom: 120px;
}

/* Blog Page */
.blog-page{
    display: flex;
    justify-content: space-between;
}
.blog-page__post {
    width: 100%;
    flex-basis: 70%;
}
.blog-page__post-main {
    width: 70%;
    margin: 0 auto;
}
.post {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-basis: 70%;
}
.post-main {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.post__title {
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2em;
}
.post__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.post-meta{
    font-size: 15px;
    text-align: left !important;
    font-weight: 500;
    color: #8b9099;
    padding: 10px 0;
}
.post-meta a {
    color: #8b9099;
    &:hover {
        color: #6541b5;
        transition: all .7S ease;
    }
}
.post p {
    padding-top: 15px;
    font-size: 18px;
    color: #8b9099;
    line-height: 1.5em;
}
.post__title, .post__meta, .post__content{
    margin: 0;
}

/* Sidebar */
.blog-page__sidbar {
    width: 100%;
    flex-basis: 30%;
    margin-left: 30px;
}
.post{
    cursor: pointer;
}
.widget {
    margin-bottom: 30px;
}
.widget-title{
    margin-bottom: 15px;
}
.widget_text {
    height: 240px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/shop.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5%;
}
.widget-title, .textwidget {
    text-align: left;
}
.widget_text h4,
.widget_text div {
    color: #fff;
}
.post__important_title{
    text-align: left;
}

.widget_recent_entries a {
    margin-top: 15px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #151221;
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
    3px 27px 54px -34px rgba(0, 0, 0, .47);
    &:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07)
    }
}
.post__important_img{
    height: 100px;
    width: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.post__important_content{
    margin-left: 15px;
}
.post__important_title{
    color: #151221;
    margin-top: 15px;
}
.post__important_descriptor{
    margin: 0;
    margin-top: 5px;
}

.tags__title{
    text-align: left;
    margin-top: 60px;
}
.tagcloud {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    & a {
        background: #fff;
        color: #151221;
        font-weight: 500;
        padding: 15px 30px;
        border-radius: 25px;
        margin: 0;
        margin-right: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05);
    }
}
.widget_categories ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    & li {
        background: #fff;
        color: #151221;
        font-weight: 500;
        padding: 15px 30px;
        border-radius: 25px;
        margin: 0;
        margin-right: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .1);
    }
    & a {
        color: #151221;
    }
}
.widget_categories li:hover {
    box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, .05);

}
.tagcloud a:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07);

}
#sidebar .tagcloud a {
    font-size: 15px !important;
}
.widget{
    cursor: pointer;
}


/* Pagination */

.pagination ul,
.nav-links {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.page-numbers {
    display: block;
    text-align: center;
    line-height: 44px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 15px;
     &:hover, :active{
        background-color: #fff;
        box-shadow: 5px 5px 40px 0 rgba(9, 31, 67, .3);
     }       
}

.pagination a, 
.pagination span {
       -webkit-transition: all .4s ease;
       transition: all .5s ease;
       color: #687188;
       font-weight: 700;
       font-size: 15px;
       &:hover{
           color: #151221;
           cursor: pointer;
       }
}
.pagination li {
    display: flex;
    align-items: center;
}
.prev, .next {
    font-size: 40px !important;
    margin-top: 0px;
}
.pagination .current {
    color: #6541b5;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 40px 0 rgba(9, 31, 67, .3);
}
.next{
    margin-left: 15px;
}

/* In Blog */

.content {
    padding-top: 60px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}
.content__post{
    font-size: 18px;
}
.content__title{
    font-weight: 400;
}


.post-meta{
    text-align: center;
}
.post-meta time{
    color: #151221;
    font-weight: 700;
}
.categories a{
    color: #687188;
    font-weight: 500;
    &:hover{
        color: #e72963;
        transition: 0.3s;
    }
}

/* Header-course-1 */

#course-1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #151221;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    line-height: 1.45em;
}
.header__course-1 {
    background-image: linear-gradient(to top left, rgba(173,3,135,1), rgba(65,4,105,1));
}
.course-1__header-offer{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    font-weight: 600;
}
/**
* Трейд Маркетинг Лендинг 
**/

/* Спецификация Трейд-Маркетинг */

    .course-1 h1 {
        font-family: 'Ubuntu', sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 40px;
        text-align: left;
        font-weight: 600;
    
    }
    .course-1 h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: #151221;
        text-align: center;
    }
    .course-1 h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
        text-align: center;
        font-weight: 600;
        color: #151221;
    }
    
    .course-1 h4 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #151221;
    }
    
    .course-1 h5 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        text-align: left;
        font-weight: 600;
        color: #151221;
    }

/* Header */

.course-1__header-offer2{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.content__main{
    margin-top: 20%;
}
.course-1__content-left{
    width: 500px;
    padding-bottom: 20px;
}
.course-1__header-descriptor {
    color: #fff;
}
.button__theme_header{
    margin-top: 46px;
}
.button__color_fff {
   background: #fff;
   color: #492b9e;

}
.button__color_fff::after{
    background: #492b9e;
    
}
.button__color_fff:hover::after {
    background: #492b9e;
    transition: all 0.6s ease;
  }
  .button__color_fff:hover {
      color: #492b9e;
      box-shadow: inset 0 14px 43px rgba(84, 53, 171, .2);
      transition: all 0.6s ease;
  }
  .content__bg-course-1 {
    width: 785px;
    height: 765px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}
.lq-1{
    margin-left: -400px;
    margin-top: 0px;
    z-index: 1;
    & img {
        width: 94px;
        height: 99px;
    }
}
.lq-2{
    margin-left: 100px;
    margin-top: 450px;
    z-index: 1;
    & img {
        width: 105px;
        height: 92px;
    }
}
.lq-3{
    margin-left: -450px;
    margin-top: 350px;
    z-index: 2;
    & img {
        width: 430px;
        height: 406px;
        z-index: 20;
    }
}
.lq-4{
    margin-left: -370px;
    margin-top: -20px;
    z-index: 6;
    & img {
        width: 670px;
        height: 461px;
    }
}
.lq-5{
    margin-left: 0px;
    margin-top: 0px;
    z-index: 3;
    & img {
        width: 656px;
        height: 452px;
    }
}
.lq-6{
    margin-left: -80px;
    margin-top: -280px;
    z-index: 1;
    & img {
        width: 502px;
        height: 346px;
    }
}
.tm-banner {
    background: url(../img/course-1/liquid/tm-banner.png) center center /cover;
    z-index: 10;
    margin-left: -550px;
    width: 571px;
    height: 374px;
    color: #fff;
    text-transform: uppercase;
}
.tm-text__wrapper {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tm-text__wrapper p {
    color: #fff;
    text-transform: uppercase;
}
.tm-text__descriptor {
    margin-left: 50px;
    margin-bottom: 10;
    font-weight: 600;
    font-size: 25px;
}
.tm-text__title {
    font-size: 80px;
    font-weight: 900;
}
.tm-text__sale_descriptor {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 20px;
    margin-left: 160px;
}
.tm-text__sale {
    margin-top: 10px;
    font-weight: 700;
    font-size: 40px;
    margin-left: 160px;
}
.example__wrapper {
    margin-top: 50px;
    width: 300px;
    text-align: right;
    position: absolute;
    top: 55%;
    left: 40%;
    z-index: 20;
    & p {
        color: #fff;
    }
}
.example__arrow{
    font-family: 'Montserrat', sans-serif;
    margin-left: 200px;
    font-weight: 900;
    font-size: 50px;
    margin-right: -40px;
    margin-top: -30px;
    transform: rotate(-35deg);

}
.example__title {
    font-size: 30px;
    font-weight: 700;

}
/**
* Чего вы избежите за 1,5 месяца
**/
.month {
    position: relative;
    background-color: #fff;
    z-index: 20;
    margin-top: 0;
    padding-top: 120px;
}
.difficulties__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 120px;
}
.difficulties__item {
    width: calc(100%/4 - 30px);
    text-align: left;
}
.difficulties__title {
    text-align: left;
    margin-bottom: 30px;
}
.difficulties__circle {
    font-weight: 700;
    background: #8571ea;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
     &::after {
        content: '';
        background-color: #8571ea;
        position: absolute;
        margin-left: 8%;
        width: 310px;
        height: 2px;
        z-index: -1;
     }
}
.patterns{
    background: linear-gradient(to top, #d6daec, #f7f8fd);
    padding-top: 120px;
}
.patterns__wrapper {
    display: flex;
    justify-content: space-between;
}
.patterns__item {
    width: calc(100%/2 - 30px);
}
#patterns__title {
    text-align: left;
    max-width: 540px;
}
.patterns__img{
    max-width: 570px;    
}
.patterns__left {
    align-self: flex-end;
}
.patterns__text {
   max-width: 540px;
   &::before {
    content: '►';
    color: #8571ea;
    margin-right: 10px;
    }
}
.patterns__btn{
    margin-top: 50px;
    margin-bottom: 120px;
}

.program{
    background: #f3f6fa;
    padding-bottom: 120px;
}
.my-profit__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.program__title {
    padding-top: 120px;
    padding-bottom: 60px;
}

/* Аккордион */

#accordion {
    cursor: pointer;
}
.accordion__title {
    text-align: left;
    background: #fff;
    padding: 15px 30px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
        3px 27px 54px -34px rgba(0, 0, 0, .47);
    


}
.ui-accordion-header {
    margin-top: 2px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.accordion__text {
    margin: 0;
    padding: 0;
}