

/* sidebar */
#sidebar {
    padding-top: 42px;
    padding-left: 18px;
}

#sidebar h5 {
    font: 18px/30px notosans-bold, sans-serif;
    font-weight: normal;
    margin-bottom: 6px;
}

#sidebar .widget {
    margin-bottom: 24px;
}

/* Link list */
#sidebar .link-list {
    margin: 12px 0 18px 0;
    padding: 0;
}

#sidebar .link-list li {
    line-height: 24px;
}

#sidebar .link-list li a {
    border: none;
    color: #838c95;
}

#sidebar .link-list li a:hover {
    color: #313131;
}

/* tag cloud */
#sidebar .tagcloud {
    margin: 18px 0 18px -12px;
    padding: 0;
}

#sidebar .tagcloud a {
    display: inline-block;
    position: relative;
    margin: 0 0 12px 12px;
    padding: 6px 10px;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font: bold 12px/24px notosans-regular, sans-serif !important;
    float: left;
    text-transform: uppercase;
    background: #d3d9d9;
    text-decoration: none;
    letter-spacing: 1px;
    color: #6d7e7e;

    border-radius: 3px;
}

#sidebar .tagcloud a:hover {
    color: #fff;
    background: #11abb0;
}

/* Photostream */
#sidebar .photostream {
    overflow: hidden;
    margin: 18px 0 24px -15px;
    padding: 0;
    list-style: none;
}

#sidebar .photostream li {
    float: left;
    display: inline-block;
    margin: 0 0 15px 15px;
    padding: 0;
}

#sidebar .photostream li a {}

#sidebar .photostream li a img {
    width: 54px;
    height: 54px;
    border-radius: 3px;
    vertical-align: bottom;
}

/* search */
#sidebar .widget_search form {
    /*position: relative; */
    margin: 24px 0 36px 0;
}

#sidebar .widget .text-search {
    width: 100%;
    min-width: 150px;
    border: none;
    padding-right: 40px;

    border-radius: 3px;
}

#sidebar .widget .submit-search {
    position: relative;
    top: -60px;
    right: 18px;
    width: 18px;
    height: 18px;
    margin: 0;
    border: none;
    padding: 0;
    background: url(../images/search-icon.png) no-repeat;
    cursor: pointer;

    float: right;
    /*display: none !important;*/
}
